a{
    color:black
}
.wrapper{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100%;
  
}
table{
    border-radius: 5px;
   
}
th,td{
    text-align: center;
    margin: 2px;
    padding: 3px;
    border-radius: 5px;
}
button{
    border-radius: 3px;
    border: 1px solid black;
}